# Data files
data/

# Documentation build files
docs/build/

# Environment variables
.env

# Python version files
.python-version

# Virtual environments
.venv/

# Packaging artifacts
build/
*.egg-info/

# Python cache files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store
